services:
  jaeger:
    image: jaegertracing/jaeger:2.0.0
    container_name: jaeger2
    command: [ "--config=/etc/jaeger/jaeger-config.yaml" ]
    volumes:
      - ./jaeger.yaml:/etc/jaeger/jaeger-config.yaml:ro
    ports:
      - "5778:5778"
      - "16686:16686"   # Jaeger UI
      - "4317:4317"     # OTLP gRPC
      - "4318:4318"     # OTLP HTTP
      - "14250:14250"   # gRPC
      - "14268:14268"   # HTTP collector
      - "9411:9411"     # Zipkin
      - "8889:8889"     # Prometheus metrics exporter
    restart: unless-stopped
    networks:
      - dev
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    restart: unless-stopped
    networks:
      - dev
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"  # Grafana UI
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    restart: unless-stopped
    networks:
      - dev
  database:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: conduit
      POSTGRES_USER: conduit
      POSTGRES_PASSWORD: conduit
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - dev
networks:
  dev: