name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 23 (Temurin / OpenJDK)
        uses: actions/setup-java@v4
        with:
          java-version: '23.0.2'
          distribution: 'temurin'
          cache: 'sbt'
      - name: Run tests
        id: test
        run: sbt -v test