name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup sbt
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '23'
      - name: Install sbt
        uses: olafurpg/setup-scala@v13
        with:
          sbt-version: '1.9.8' # set your required sbt version
      - name: Run tests
        id: test
        run: sbt -v test